.offer {
  width: 100%;
  position: relative;
  background: $offer-bg-color;
  .arrow {
    left: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .offer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 0 0.7rem 0;
    text-align: center;
    margin: 0 auto;
    width: 65%;
    .offer-text {
      width: 31%;
      h1 {
        letter-spacing: 0.2em;
      }
      span {
        display: block;
        font-weight: normal;
        width: 100%;
        letter-spacing: 0.15rem;
        font-size: 2.5rem;
        margin-bottom: 2.2rem;
      }
      h3 {
        line-height: 2.2rem;
        font-size: 1.5rem;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 2.2rem;
      }
      a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.2rem;
        color: $main-text-color;
        padding: 1.1rem 7rem;
        background: $main-bg-color;
        border-radius: 1rem;
      }
    }
  }
}
